<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<title>login</title>
</head>
<body>
<h1>login</h1>
<form th:action="@{/login}" method="post">
    <label for="username1">Username:</label>
    <input type="text" id="username1" name="username" required="required" autofocus="autofocus"/>
    <br/>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password" required="required"/>
    <br/>
    <button type="submit">Login</button>
</form>
<form th:action="@{/logout}" method="post">
    <label for="username2">Username:</label>
    <input type="text" id="username2" name="username" required="required" autofocus="autofocus"/>
    <button type="logout">Logout</button>
</form>
<form th:action="@{/singup}" method="post">
    <label for="username3">Username:</label>
    <input type="text" id="username3" name="username" required="required" autofocus="autofocus"/>
    <br/>
    <label for="password2">Password:</label>
    <input type="password" id="password2" name="password" required="required"/>
    <br/>
    <button type="submit">SingUp</button>
</form>
</body>
</html>